{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
Bannar image
{% endblock %}
{% block content %}

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="card">
              <div class="card-header">
                <h4>Gallery </h4>
      
                <div class="card-header-form">
                  
                </div>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicModalcreate1001">
                  <i class="fas fa-add ">Add New Bannar Image</i>
                  </button>
                
              </div>
              {% if messages %}
              {% for msg in messages %}
                  
      
                  <div class="alert alert-{{msg.tags}} alert-dismissible show fade">
                    <div class="alert-body">
                      <button class="close" data-dismiss="alert">
                        <span>×</span>
                      </button>
                      {{msg.message}}
                    </div>
                  </div>
      
                 
              {% endfor %}
            {% endif %}
            </div>


            <div class="row">
               {% for bannar_image in bannar_images %}
                <div class="col-12 col-sm-6 col-lg-6">
                  <div class="card">
                    <div class="d-flex justify-content-end">

                      {% comment %} <button type="button" class="btn btn-success" data-toggle="modal" data-target="#basicModaldelete80001">
                        <i class="fas fa-pen"></i>
                      </button> {% endcomment %}
                      
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicModaldelete80001{{bannar_image.id}}">
                        <i class="fas fa-trash "></i>
                      </button>

                      

                    </div>

                    <div class="chocolat-parent">
                        <a href="{{bannar_image.image.url}}" class="chocolat-image"  title="Just an example">
                            <div >
                                <img src="{{bannar_image.image.url}}" class="img-fluid">
                            </div>
                        </a>
                    </div>
                    <p class="p-2 text-bold" style="color:black; font-family:times-new-roman; font-weight: bold; font-size:25px;">
                      {{bannar_image.title}}
                    </p>

                   
                  </div>
               
              </div>
              {% endfor %}
            
          </div>
        </section>


        


         <!-- add new Album -->
    <div class="modal fade" id="basicModalcreate1001" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload New Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="" method="post" action="{% url 'dashboard:new_bannar_image' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group pt-2">
                            
                          <input type="text" class="form-control" placeholder="Enter Title" name="title" required>
                      </div>

                        <div class="input-group pt-2">
                           
                            <input type="file" class="form-control" placeholder="image" name="image" required>
                         </div>

                         <div class="input-group pt-2">
                            
                          <input type="number" class="form-control" placeholder="Enter ordering number" name="ordernumber" required>
                      </div>
                    </div>
                    
                        
                        
                    <div class="modal-footer bg-whitesmoke br">
                        <button type="submit" class="btn btn-primary">Upload</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
            </div>
            
            </div>
        </div>
    </div>


    {% for bannar_image in bannar_images %}
        <div class="modal fade" id="basicModaldelete80001{{bannar_image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content pt-4">
                
                <div class="modal-body">
                  <form  method="post" action="{% url 'dashboard:deleteimage' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden"  value="{{bannar_image.id}}" name="id">
                    <h5 class="text-danger">Are you sure?</h5>
                    <div class="modal-footer bg-whitesmoke br">
                        <button type="submit" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                        
                  
                </div>
                
                </div>
            </div>
        </div>
      {% endfor %}




        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}